<main class="profile">
    <header class="masthead-profile d-flex">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3>Bienvenido {{user.NOMBRES}} {{user.APELLIDOS}}</h3>
                            <h4>Revisa las Opciones de navegación en la parte superior</h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
</main>
    